<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/bookmarks">Bookmarks</a>
    </div>

  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <a href="<%= @bookmark.url %>"><%= @bookmark.title %></a>
        <small><%= @bookmark.descrip %>
        <a href="/bookmarks/<%= @bookmark.id %>/edit">Edit</a> |
<a href="/bookmarks/<%= @bookmark.id %>/destroy">Destroy</a>
          <p> Created by <%=@user.name%></p>
          </small>
      </h1>
    </div>
  </div>
</div>